@font-face {
  font-family: "Bebas Neue";
  src:
    local("Bebas Neue"),
    url("../fonts/BebasNeue-Regular.ttf");
}

body {
	font-family: "Bebas Neue", sans-serif;
}

.login {
	backdrop-filter: blur(5px);
}

#profilMenu {
	transition: 200ms;
}

#loginForm {	
	transition: 200ms;
}

.hided {
	opacity:0;
}

.trXm100 {
	transform: translate(0, -100px);
}

.trXp100 {
	transform: translate(0, 100px);
}
