/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   style.css                                          :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: gbrunet <gbrunet@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2024/06/07 09:37:34 by gbrunet           #+#    #+#             */
/*   Updated: 2024/06/21 10:06:44 by gbrunet          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

@font-face {
	font-family: "Bebas Neue";
	src:
		local("Bebas Neue"),
		url("../fonts/BebasNeue-Regular.ttf");
}
@font-face {
	font-family: "Roboto";
	src:
		local("Bebas Neue"),
		url("../fonts/Roboto.ttf");
}

body {
	font-family: "Bebas Neue", sans-serif;
}

#menu {
	transition: opacity 200ms;
}

#chatMenu {
	transition: opacity 200ms;
}

#profile {
	transition: opacity 200ms;
}

#addFriendMenu {
	transition: opacity 200ms;
}

#addFriend {
	transition: 200ms;
	--bs-bg-opacity:0.1;
}

#addFriend.selected {
	--bs-bg-opacity:0.5 !important;
}

#addFriend:hover {
	--bs-bg-opacity:0.2;
	cursor: pointer;
}

#aiConfig {
	transition: 200ms;
}

.playBtn {
	--bs-bg-opacity: 0.1;
	--bs-border-opacity: 0.25;
	cursor: pointer;
	transition: 200ms;
}

.playBtn:hover {
	--bs-bg-opacity: 0.2;
}

.room {
	transition: 200ms;
	--bs-bg-opacity:0.1;
}

.room.selected {
	--bs-bg-opacity:0.5 !important;
}

.room:hover {
	--bs-bg-opacity:0.2;
	cursor: pointer;
}

.user {
	transition: 200ms;
	--bs-bg-opacity:0.1;
}

.user.selected {
	--bs-bg-opacity:0.5 !important;
}

.divider{
	width: 80%;
	height: 1px;
	margin: 5px auto;
	background-color: rgba(255,255,255, 0.3)
}

.user:hover {
	--bs-bg-opacity:0.2;
	cursor: pointer;
}

.roboto {
	font-family: "Roboto", sans-serif;
	font-size: 1rem !important;
}

.login {
	backdrop-filter: blur(5px);
}

.bg-blur-5 {
	backdrop-filter: blur(5px);
}

.bg-blur-15 {
	backdrop-filter: blur(15px);
}

.notification {
	transition: 200ms;
}

#profilMenu {
	transition: 200ms;
}

#loginForm {
	transition: 200ms;
}

#loginFormAlert {
	transition: 200ms;
}

#registerForm {
	transition: 200ms;
}

#createGame {
	transition: 200ms;
}

#homeView {
	transition: 200ms;
}

#chatContainer {
	transition: 200ms;
	width:400px;
	right:90px;
	top:70px;
	bottom:70px;
}

.unread {
	border: 2px rgba(255, 255, 255, 0.35) solid;
}

.visible {
	opacity: 1 !important;
}

.hided {
	opacity: 0;
}

.displayNone {
	display: none;
}

.height0 {
	height: 0;
	margin: 0 !important;
}

.trXm100 {
	transform: translate(0, -100px);
}

.trXp100 {
	transform: translate(0, 100px);
}

#countdown {
	opacity: 0;
	transition: 200ms;
}

.countdown {
	animation: zoom-opacity 1s 1;
}

@keyframes zoom-opacity {
	0% { transform: scale(0) }
	50% { opacity:1 }
	100% { transform: scale(1); opacity:0 }
}

.shake {
	animation: horizontal-shaking 250ms 2;
}

@keyframes horizontal-shaking {
	0% { transform: translateX(0) }
	25% { transform: translateX(5px) }
	50% { transform: translateX(-5px) }
	75% { transform: translateX(5px) }
	100% { transform: translateX(0) }
}
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.75);
}

.message {
	transition: 300ms;
}

.message__outer {
	display: flex;
}

.message__inner {
	flex: 1;
	display: flex;
	flex-direction: row-reverse;
}

.message__actions {
	width: 67px;
	padding-right: 5px;
}

.message__spacer {
	flex: 1;
}

.message__bubble {
	font-family: "Roboto", sans-serif;
	font-size: 0.85rem !important;
	max-width: 270px;
	overflow-wrap: break-word;
	backdrop-filter: blur(10px);
}

.message__actions {
	flex-shrink: 0;
}

.message__avatar {
	margin-top: auto;
	padding-left: 6px;
	padding-right: 8px;
	width: 30px;
	height: 30px;
}

.chatInput {
	font-size: 0.85rem !important;
	font-family: "Roboto", sans-serif;
	backdrop-filter: blur(10px);
	height:30px;
}

.chatInput input{
	font-family: "Roboto", sans-serif;
	background: transparent;
	border: none;
	color:white;
	outline: none;
	width: calc(100% - 35px);
}

.rounded-bottom-left-1 {
	border-bottom-left-radius: 4px !important;
}

.rounded-bottom-right-1 {
	border-bottom-right-radius: 4px !important;
}
