<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
    <h1>Chat Room</h1>
    <div id="chat-box">
        {% for message in messages %}
            <p><strong>{{ message.user.username }}:</strong> {{ message.content }} <em>{{ message.timestamp }}</em></p>
        {% endfor %}
    </div>
    <form id="chat-form">
        {% csrf_token %}
        <input type="text" id="chat-message-input" autocomplete="off" placeholder="Enter your message...">
        <button type="submit">Send</button>
    </form>

    <script>
        const chatSocket = new WebSocket(
            'wss://' + window.location.host + '/ws/chat/'
        );

        chatSocket.onmessage = function(e) {
			const data = JSON.parse(e.data);
			const chatBox = document.getElementById('chat-box');
			const messageElement = document.createElement('p');
			if(data.user && data.message && data.timestamp) {
				messageElement.innerHTML = `<strong>${data.user.username}:</strong> ${data.message} <em>${data.timestamp}</em>`;
			} else {
				console.error('Message data incomplete:', data);
			}
			console.log(data);
			chatBox.appendChild(messageElement);
		};


        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.getElementById('chat-form').onsubmit = function(e) {
            e.preventDefault();
            const messageInputDom = document.getElementById('chat-message-input');
            const message = messageInputDom.value;
            if (chatSocket.readyState === WebSocket.OPEN) {
                chatSocket.send(JSON.stringify({
                    'message': message
                }));
                messageInputDom.value = '';
            } else {
                console.error('Chat socket is not open. Unable to send message.');
            }
        };
    </script>
</body>
</html>
