<div id="createGame" class="text-center hided d-flex flex-column">
	<a class="playBtn px-3 py-1 rounded bg-white bg-blur-5 border border-light m-2 link-underline link-underline-opacity-0 text-light fs-4" href="/play1vsAI" data-link>Local 1 VS A.I.</a>
	<a class="playBtn px-3 py-1 rounded bg-white bg-blur-5 border border-light m-2 link-underline link-underline-opacity-0 text-light fs-4" href="/play1vs1" data-link>Local 1 VS 1</a>
	<a class="playBtn px-3 py-1 rounded bg-white bg-blur-5 border border-light m-2 link-underline link-underline-opacity-0 text-light fs-4" href="/multi" data-link>Remote 1 VS 1</a>
	<br />
	<a class="playBtn px-3 py-1 rounded bg-white bg-blur-5 border border-light m-2 link-underline link-underline-opacity-0 text-light fs-4" href="/createTournaments" data-link>Create Tournament</a>
	<a class="playBtn px-3 py-1 rounded bg-white bg-blur-5 border border-light m-2 link-underline link-underline-opacity-0 text-light fs-4" href="/listTournaments" data-link>Tournaments Results</a>
</div>
