{% load static %}
<!doctype html>
<html lang="en-US">
	<head>
		<script type="importmap">
		{
			"imports": {
				"three": "{% static 'website/three/three.module.min.js' %}",
				"three/addons/": "{% static 'website/three/jsm/' %}"
			}
		}
		</script>
		<meta charset="utf-8" />
		<title>Transcendence</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'website/bootstrap/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'website/style/style.css' %}">
		<link rel="stylesheet" href="{% static 'website/bootstrap/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css' %}">
		<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

	</head>
	{% csrf_token %}
	<body class="bg-black text-light">
		{% include "website/canvas.html" %}
		<div id="topContent" class="position-fixed w-100 h-100">
			{% block 'body' %}
			{% endblock %}
		</div>
		<audio id="audio_transcendence" src="{% static 'mp3/Transcendence.mp3' %}" loop></audio>
		<button id="toggleButton" class="btn btn-dark btn-sm" style="position:fixed; bottom:10px; left:10px; z-index:1000;">
			<i id="toggleIcon" class="bi bi-play-fill"></i>
		</button>
		<script src="{% static 'website/music/music.js' %}"></script>
		{% include "website/navbar.html" %}
		<script src="{% static 'website/bootstrap/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
		<script type="module" src="{% static 'website/main.js' %}"></script>

	</body>
</html>
