<div style="margin-top:auto"></div>
{% for connectedUser in data.connectedUsers %}
	{% if connectedUser.id != user.id %}
<div class="user bg-white rounded m-1 position-relative">
	<div class="chatUserPicture bg-white rounded-circle flex-shrink-0"  style="background-image: url('{{connectedUser.profilPictureUrl}}'); background-size: cover; width:60px; height:60px; margin-left:5px; margin-top:5px;"></div>
	<center class="chatUserName text-break roboto" style="font-size:0.7rem !important">{{connectedUser.username}}</center>
</div>
	{% endif %}
{% endfor %}
<div class="divider"></div>
<div class="user bg-white rounded m-1 selected position-relative unread">
	<div class="rounded-circle flex-shrink-0"  style=" background-color: #234565; width:60px; height:60px; margin-left:3px; margin-top:5px;"></div>
	<center class="chatUserName text-break roboto" style="font-size:0.7rem !important">Everybody</center>
</div>
<div style="margin-bottom:auto"></div>
