{% if data.user.id != user.id %}
<div class="message mt-2 height0 hided">
	<div class="message__outer">
		<div class="message__avatar rounded-circle bg-success mx-2 border border-white" style="background-image: url('{{user.profilPicture.url}}'); background-size: cover; --bs-border-opacity:0.2;"></div>
		<div class="message__inner">
			<div class="message__spacer"></div>
			<div style="margin-bottom: -5px;">
				<div class="message__bubble bg-white text-dark rounded-4 rounded-bottom-left-1 p-1 px-2 pe-2" style="--bs-bg-opacity:0.75">{{data.message}}</div>
				<div class="roboto" style="font-size:0.75rem !important;">{{data.user.username}} - 13 juin 2024 15:24</div>
			</div>
		</div>
	</div>
</div>
{% else %}
<div class="message mt-2 height0 hided">
	<div class="message__outer">
		<div class="message__inner">
			<div style="margin-bottom: -5px;">
				<div class="message__bubble bg-primary rounded-4 rounded-bottom-right-1 p-1 px-2 pe-2" style="--bs-bg-opacity:0.75">{{data.message}}</div>
				<div class="roboto" style="font-size:0.75rem !important; margin-left:auto">{{data.user.username}} - 13 juin 2024 15:24</div>
			</div>
			<div class="message__spacer"></div>
		</div>
		<div class="message__avatar rounded-circle bg-success mx-2"></div>
	</div>
</div>
{% endif  %}
