{% if user.is_authenticated %}
<div id="homeView" class="h-100 w-100 position-fixed hided">
	<div class="w-100">
		configuration pour jouer
	</div>
	<div id="chatDocker" class="p-0 position-fixed end-0 bg-blur-5 rounded-start-3 d-flex flex-column border border-light overflow-y-auto overflow-x-hidden " style="--bs-border-opacity:0.1; width:80px; top:70px; bottom:70px">
	</div>
	<div id="chatContainer" class="p-0 position-fixed top-0 bottom-0" data-room="everybody" style="width:400px; right:80px;">
		<div class="h-100 overflow-y-auto d-flex flex-column">
			<div style="margin-top:auto; padding-top:70px;"></div>
			<div id="chatBottom" style="margin-bottom:70px;"></div>
		</div>
		<div class="p-3 py-2 position-absolute bottom-0 w-100 d-flex flex-column">
			<div class="bg-white chatInput rounded-5 p-1 px-2" style="--bs-bg-opacity:0.2">
				<input id="chatMessage" type="text" />
				<a id="chatSend" class="link-underline link-underline-opacity-0" href="">send</a>
			</div>
		</div>
	</div>
</div>
{% else %}
<div id="homeView" class="h-100 d-flex flex-column align-items-center justify-content-center position-absolute w-100 hided">
	<div id="loginMessage" class="text-center">
		<h1>Welcome to <span class="text-info">Transcendence</span></h1>
		<h2>To play, you need to <a href="/login" data-link class="link-underline link-underline-opacity-0" >sign in...</a></h2>
	</div>
</div>
{% endif %}
