<!-- *********************************************************************** -->
<!--                                                                         -->
<!--                                                      :::      ::::::::  -->
<!-- home.html                                          :+:      :+:    :+:  -->
<!--                                                  +:+ +:+         +:+    -->
<!-- By: gbrunet <gbrunet@student.42.fr>            +#+  +:+       +#+       -->
<!--                                              +#+#+#+#+#+   +#+          -->
<!-- Created: 2024/06/06 12:56:26 by gbrunet           #+#    #+#            -->
<!-- Updated: 2024/06/07 13:03:31 by gbrunet          ###   ########.fr      -->
<!--                                                                         -->
<!-- *********************************************************************** -->

{% if user.is_authenticated %}
<div id="homeView" class="h-100 w-100 position-fixed hided">
	<div class="w-100 position-fixed">
		configuration pour jouer
	</div>
	<div id="chatDocker" class="p-0 position-fixed end-0 bg-blur-5 rounded-start-3 d-flex flex-column border border-light overflow-y-auto overflow-x-hidden " style="--bs-border-opacity:0.1; width:80px; top:70px; bottom:70px">
		<div id="addFriend" class="bg-white rounded m-1 position-relative p-1 m-2" data-room="Public">
			<center class="chatUserName text-break roboto" style="font-size:0.7rem !important; pointer-events:none">Add friend</center>
		</div>
		<div style="margin-top:auto"></div>
		<div id="chatConnectedUsers"></div>
		<div class="divider"></div>
		<div class="room bg-white rounded m-1 selected position-relative p-1 m-2" data-room="Public">
			<center class="chatUserName text-break roboto" style="font-size:0.7rem !important; pointer-events:none">Public</center>
			<span class="newMess position-absolute top-0 start-0 translate-middle p-1 bg-danger border border-light rounded-circle hided" style="pointer-events:none;">
				<span class="visually-hidden">New messages</span>
			</span>
		</div>
		<div style="margin-bottom:auto"></div>
	</div>
	<div id="chatContainer" class="p-0 position-fixed" data-room="Public">
	</div>
	<div id="menu" class="position-absolute border border-light d-flex flex-column p-2 rounded bg-blur-15 hided displayNone" style="z-index: 200; --bs-border-opacity:0.1; pointer-events:none">
		<button type="button" class="btn btn-light m-1">View profil</button>
		<button type="button" class="btn btn-light m-1">View messages</button>
	</div>
	<div id="addFriendMenu" class="position-absolute border border-light d-flex flex-column p-2 rounded bg-blur-15 hided displayNone" style="z-index: 200; --bs-border-opacity:0.1; pointer-events:none">
		<input id="addFriendInput" class="form-control roboto" placeholder="Search" />
		<div id="searchResult" style="width:250px;"></div>
	</div>
	<div id="notif position-fixed" style="margin-top:65px">
		<div class="bg-blur-15 p-3 rounded border border-light mb-2" style="width:355px; margin-left:7px; --bs-border-opacity:0.1"><span>Gui send you a friend request</span><button class="btn btn-primary mx-3" style="--bs-btn-padding-y: .1rem;">accepte</button><button class="btn btn-danger" style="--bs-btn-padding-y: .1rem;">delete</button></div>
		<div class="bg-blur-15 p-3 rounded border border-light mb-2" style="width:355px; margin-left:7px; --bs-border-opacity:0.1"><span>Gui send you a friend request</span><button class="btn btn-primary mx-3" style="--bs-btn-padding-y: .1rem;">accepte</button><button class="btn btn-danger" style="--bs-btn-padding-y: .1rem;">delete</button></div>
	</div>
</div>
{% else %}
<div id="homeView" class="h-100 d-flex flex-column align-items-center justify-content-center position-absolute w-100 hided">
	<div id="loginMessage" class="text-center">
		<h1>Welcome to <span class="text-info">Transcendence</span></h1>
		<h2>To play, you need to <a href="/login" data-link class="link-underline link-underline-opacity-0" >sign in...</a></h2>
	</div>
</div>
{% endif %}
