{% if user.is_authenticated %}
<div id="homeView" class="h-100 w-100 position-fixed hided">
	<div id="homeContent" class="h-100 d-flex flex-column justify-content-center position-absolute">
	</div>
	<div id="chatDocker" class="p-0 position-fixed end-0 bg-blur-5 rounded-start-3 d-flex flex-column border border-light overflow-y-auto overflow-x-hidden " style="--bs-border-opacity:0.1; width:80px; top:70px; bottom:70px">
		<div id="addFriend" class="bg-white rounded m-1 position-relative p-1 m-2" data-room="Public">
			<center class="chatUserName text-break roboto" style="font-size:0.7rem !important; pointer-events:none">Add friend</center>
		</div>
		<div style="margin-top:auto"></div>
		<div id="chatConnectedUsers"></div>
		<div class="divider"></div>
		<div id="chatRooms"></div>
		<div style="margin-bottom:auto"></div>
	</div>
	<div id="chatContainer" class="p-0 position-fixed"></div>
	<div id="menuBack" class="position-fixed top-0 bottom-0 start-0 end-0 pe-none"></div>
	<div id="menu" class="position-absolute border border-light d-flex flex-column p-2 rounded bg-blur-15 hided displayNone" style="z-index: 200; --bs-border-opacity:0.1; pointer-events:none">
		<button type="button" class="btn btn-light m-1">View profil</button>
		<button id="deleteFriend" type="button" class="btn btn-light m-1">Delete friend</button>
	</div>
	<div id="addFriendMenu" class="position-absolute border border-light d-flex flex-column p-2 rounded bg-blur-15 hided displayNone" style="z-index: 200; --bs-border-opacity:0.1; pointer-events:none">
		<input id="addFriendInput" class="form-control roboto" placeholder="Search" />
		<div id="searchResult" style="width:250px;"></div>
	</div>
	<div id="chatMenu" class="position-absolute border border-light d-flex flex-column p-2 rounded bg-blur-15 hided displayNone" style="z-index: 200; --bs-border-opacity:0.1; pointer-events:none">
	</div>
	<div id="notif" style="margin-top:65px">
		{% for request in friendRequest %}
			{% include 'website/friendRequestView.html' with friend=request.userFrom %}
		{% endfor %}
	</div>
</div>
{% else %}
<div id="homeView" class="h-100 d-flex flex-column align-items-center justify-content-center position-absolute w-100 hided">
	<div id="loginMessage" class="text-center">
		<h1>Welcome to <span class="text-info">Transcendence</span></h1>
		<h2>To play, you need to <a href="/login" data-link class="link-underline link-underline-opacity-0" >sign in...</a></h2>
	</div>
</div>
{% endif %}
