{% load static %}
<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8" />
		<title>Transcendence</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'website/bootstrap/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'website/style/style.css' %}">
		<script type="importmap">
		{
			"imports": {
				"three": "{% static 'website/three/three.module.min.js' %}",
				"three/addons/": "{% static 'website/three/jsm/' %}"
			}
		}
		</script>
	</head>
	<body class="bg-black text-light">
		{% include "website/canvas.html" %}
		<div id="topContent" class="position-fixed w-100 h-100">
			{% block 'body' %}
			{% endblock %}
		</div>
		{% include "website/navbar.html" %}
		<script src="{% static 'website/bootstrap/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
		<script type="module" src="{% static 'website/pong/main.js' %}"></script>
	</body>
</html>
