<div class="h-100 d-flex align-items-center justify-content-center">
	<div class="login rounded p-4 border border-light" style="--bs-border-opacity:0.1; width:350px">
		<center><h1>LOGIN</h1></center>
		<form>
			<!-- Email input -->
			<div class="input-group input-group-lg mb-3">
				<span class="input-group-text text-bg-dark border border-light" id="username" style="--bs-bg-opacity: .5; --bs-border-opacity: .1;">username</span>
				<input type="text" class="form-control text-bg-dark border border-light border-start-0" style="--bs-bg-opacity: .5; --bs-border-opacity: .1;" aria-label="Sizing example input" aria-describedby="username">
			</div>
			<!-- Password input -->
			<div class="input-group input-group-lg mb-3">
				<span class="input-group-text text-bg-dark border border-light" id="username" style="--bs-bg-opacity: .5; --bs-border-opacity: .1;">password</span>
				<input type="password" class="form-control text-bg-dark border border-light border-start-0" style="--bs-bg-opacity: .5; --bs-border-opacity: .1;" aria-label="Sizing example input" aria-describedby="username">
			</div>
			<!-- 2 column grid layout for inline styling -->
			<div>
				<center><a href="#!">Forgot password?</a></center>
			</div>
			<!-- Submit button -->
			<button  type="button" data-mdb-button-init data-mdb-ripple-init class="w-100 btn btn-primary btn-block mb-4">Sign in</button>
			<!-- Register buttons -->
			<div class="text-center">
				<p>Not a member? <a href="#!">Register</a></p>
			</div>
		</form>
	</div>
</div>
